# dependencies
node_modules
npm-debug.log
yarn-error.log

# next build output
.next
out

# env files (don’t bake secrets into image)
.env
.env.* # covers .env.local, .env.development, etc.

# git
.git
.gitignore

# editor stuff
.vscode
.idea

# OS files
.DS_Store
Thumbs.db
